<!-- scripts for vega lite -->

  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>

<!--
  <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2/build/vega.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0/build/vega-lite.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
-->
  <!-- olli -->
  <script src="https://cdn.jsdelivr.net/npm/olli@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/olli-adapters@2"></script>
